*{
    margin: 0%;
    padding: 0%;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
    border: 2px solid black;
    border-radius: 30px;
}
.navbar{
    background:rgba(0, 0, 0,0.7) url('img3.jpeg');
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    cursor:pointer;
}
.nav-list{
    width: 10%;
    display: flex;
    align-items: center;
}
.nav-list li{
    font-size: 15px;
    list-style: none;
     padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color:aqua;
}
.nav-list li a:hover{
    color:bisque;
}
.navbar background{
    width: 100%;
  }

.frame{
    display: flex;
    height: 100%;
    width:100%;
    margin:10px 0px;
}
.frame .right{
    width: 150%;

}
